 <div> 
  <div class="search_bar">
    <div class="home_and_inventory">
      <a routerLink="/" class="nameCompany_home" routerLinkActive="active">Marannta</a>
      <span *ngIf="(user$ | async)?.name">Bienvenid@ {{(user$ | async)?.name}}</span>
    </div>
    <div class="search">
      <input
        type="search"
        class="input_search"
        placeholder="Buscar por referencia o categoría"/>
    </div>
    <div>
    </div>
    <div class="buttons_login">
      <div *ngIf="(user$ | async)?.email; else elseBlock">
        <button role="button" (click)=handleLogOut() class="button-60">Cerrar Sesion</button>
      </div>
      <ng-template #elseBlock>
        <nav style="display: flex; flex-direction: row;">
          <button role="button" routerLink="/user/login" routerLinkActive="active" class="button-60">Entrar</button>
          <button role="button" routerLink="/user/registration" routerLinkActive="active" class="button-60" style="margin-left: 3px;">Registrarse</button>
        </nav>
      </ng-template>
    </div>
  </div>

  <div class="forAdmin" *ngIf="(user$ | async)?.role === 'admin'">
    <a routerLink="/inventory" routerLinkActive="active" class="inventory_text">Inventario</a>
  </div>

  <div class="container_barCategory">
    <div class="bar_category" *ngFor="let cat of categories">
      <a routerLink={{cat.route}} routerLinkActive="active" class="main_button"><span class="text">{{cat.category}}</span></a>
    </div>
  </div>
</div>

<!-- <div class="bar_category" *ngFor="let cat of categories">
  <main-button-component
    routerLink={{cat.route}}
    routerLinkActive="active"
    (click)=handleCategories()
    [text]="cat.category">
  </main-button-component>
</div> -->
