<div class="container">
  <div class="container_child">

    <div class="container_signup_text">
      <h4 class="text-center">NUEVOS CLIENTES</h4>
    </div>

    <h5 class="text_bienvenida">Bienvenidos a Marannta. Registrate y sé parte de nuestro Team Marannta.</h5>

    <input-session-component title="Nombre" value={{user.name}} type="name"></input-session-component>
    <input-session-component title="Apellido" value={{user.lastname}} type="name"></input-session-component>
    <input-session-component title="Email" value={{user.email}} type="email"></input-session-component>
    <input-session-component title="Contraseña" value={{user.password}} type="password"></input-session-component>
    <input-session-component title="Número de Contacto" value={{user.phone}} type="number"></input-session-component>
    <input-session-component title="Fecha de nacimiento" value={{user.birthDate}} type="date"></input-session-component>

    <!-- <select name="user.gender">
      <option [value]="list" *ngFor="let list of genderList">{{list}}</option>
    </select> -->

    <div class="terms_and_conditions">
      <div class="accept_terms_and_conditions">
        <input type="checkbox" ngModel="politics" />
        <label>Acepto política y tratamiento de mis datos.</label>
      </div>
    </div>
    <button (click)="handleSignUp()">Enviar</button>
    <a routerLink="/" class="button_cancelar">Cancelar</a>
  </div>
</div>