.nav-contact {
  height: 35px;
  background-color: lightgrey;
  display: flex;
  align-items: center;
  color: #757575;
  flex-direction: row;
  justify-content: end;
  font-size: 15px;
}

.aboutCompany {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.aboutCustomer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0 3%;
}

.first {
  margin: auto 20px;
}

.second {
  margin: auto 20px;
}