<div class="container_layout">
  <div class="contact_company">
    <p class="divv1">Sigue tu pedido</p>
    <p>Contáctanos</p>
  </div>
  <div class="know_us_company">
    <p class="divv2">Conócenos</p>
    <p>Servicio al cliente</p>
  </div>
</div>



<!-- <div class="container_layout">
  <div class="contact_company">
    <a href="{{route.route}}" *ngFor="let route of routesContact" class="routes">
      {{route.text}}
    </a>
  </div>
</div> -->


<!-- <div *ngIf="showName == true; else lastNameBlock">daniel</div> -->
<!-- <div [hidden]="showName">daniel</div> -->
<!-- <ng-template #lastNameBlock>
  <div>uribe</div>
</ng-template> -->
