<div class="container">
  <div class="container_child">

    <div class="container_login_text">
      <h2 class="title_login_text">LOGIN</h2>
    </div>

    <input-session-component
      title="Email"
      value={{email}}
      type="email"
    ></input-session-component>

    <input-session-component
      title="Contraseña"
      value={{password}}
      type="password"
    ></input-session-component>


    <div class="no_close_session_and_forgot_password">
      <div class="no_close_session">
        <input type="checkbox" class="me-1 ms-5"/>
        <label>No cerrar sesión</label>
      </div>
      <div class="forgot_password">
        <a href="" class="button_remenber_password">¿Olvidaste tu contraseña?</a>
      </div>
    </div>

    <div class="buttons">
      <button class="button button_entrar" (click)=onLogin()>Login</button>
      <button class="button button_ingresar_facebook">Ingresar con Facebook</button>
      <button class="button button_ingresar_facebook">Ingresar con Google</button>
    </div>
  </div>
</div>

